.container {
  flex-direction: row;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 2.5%;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 250px;
  @media only screen and (max-width: 768px) {
    height: 30px;
    width: 150px;
  }
  background-position: center;
}
.money {
  padding: 0;
  font-size: 20px;
  color: #fff082;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
  margin: 0;
}
.coin,
.add {
  width: 25px;
  height: 25px;
  @media only screen and (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.nestedContainer {
  width: 160px;
  @media only screen and (max-width: 768px) {
    width: 115px;
    margin-top: -4px;
    margin-left: 10px;
  }
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  margin-top: -7px;
}
