.itemInventoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.closeIconInventory {
  height: 40px;
  z-index: 12;
  width: auto;
  @media only screen and (max-width: 768px) {
    height: 30px;
  }
}

.backIconInventory {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 12;
  width: auto;
  @media only screen and (max-width: 768px) {
    height: 30px;
  }
}

.simpleBarInventory {
  max-height: 500px;
  padding-top: 50px;
}

.itemBoughtInventory {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px;
  border-radius: 25px;
  padding: 10px;
  flex: 1;
  align-content: end;
  display: grid;
  max-width: min-content;
  justify-content: center;
  @media only screen and (max-width: 768px) {
    margin: 10px;
  }
}

.itemInventoryName {
  color: white;
  font-size: 18px;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.itemImg {
  width: 100px;
  @media only screen and (max-width: 768px) {
    width: 60px;
  }
  height: auto;
}

.itemBoughtBtn {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  @media only screen and (max-width: 768px) {
    top: 90%;
    left: 47%;
  }
}
